{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set otherDateErrors %}
  {% if model.otherDayError %}
    <p>The date you obtained your qualification must include a day</p>
  {% elif model.otherMonthError %}
    <p>The date you obtained your qualification must include a month</p>
  {% elif model.otherYearError %}
    <p>The date you obtained your qualification must include a year</p>
  {% elif model.otherFutureError %}
    <p>The date you obtained your qualification must be in the past</p>
  {% else %}
    <p>The date you obtained your qualification must be a real date</p>
  {% endif %}
{% endset -%}

{% block content %}

  {% if model.otherQualificationError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
            text: "Enter the Name of your certificate",
            href: "#qualification-reference-error"
        } if model.otherNameError,
        {
            text: "The date you obtained your certificate must be in the past",
            href: "#qualification-date-error"
        } if model.otherFutureError,
        {
            text: "The date you obtained your certificate must be a real date",
            href: "#qualification-date-error"
        } if model.otherInvalidError,
                        {
            text: "The date you obtained your certificate must include a day",
            href: "#qualification-date-error"
        } if model.otherDayError,
        {
            text: "The date you obtained your certificate must include a month",
            href: "#qualification-date-error"
        } if model.otherMonthError,
        {
            text: "The date you obtained your certificate must include a year",
            href: "#qualification-date-error"
        } if model.otherYearError,
        {
            text: "You must provide your certificate details",
            href: "#qualification-date-error"
        } if model.emptyPageError
      ]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    What are the details of your equivalent deer stalking certificate?
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
          {{ govukInput({
            label: {
              text: "Certificate name",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-one-half",
            id: "qualification-reference",
            name: "otherName",
            value: model.otherName,
            errorMessage: {
              text: "Enter the Name of your certificate"
            } if model.otherNameError,
            attributes: {
              spellcheck: "false"
            }
          }) }}

          {{ govukDateInput({
                id: "qualification-date",
                name: "otherDate",
                fieldset: {
                  legend: {
                    text: "Date Obtained",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 31 3 1980"
                },
                errorMessage: {
                    html: otherDateErrors
                } if model.otherDateError,
                items: [
                  {
                    name: "otherDay",
                    label: "Day",
                    value: model.otherDay,
                    classes: "govuk-input--width-2 govuk-input--error" 
                    if model.otherFutureError or
                    model.otherInvalidError or
                    model.otherDayError
                    else "govuk-input--width-2"
                  },
                  {
                    name: "otherMonth",
                    label: "Month",
                    value: model.otherMonth,
                    classes: "govuk-input--width-2 govuk-input--error" 
                    if model.otherFutureError or
                    model.otherInvalidError or
                    model.otherMonthError
                    else "govuk-input--width-2"
                  },
                  {
                    name: "otherYear",
                    label: "Year",
                    value: model.otherYear, 
                    classes: "govuk-input--width-4 govuk-input--error" 
                    if model.otherFutureError or
                    model.otherInvalidError or
                    model.otherYearError
                    else "govuk-input--width-4"
                  }
                ]
              }) }}

          {{ govukButton({
          text: "Continue",
          classes: "naturescot-forward-button"
          }) }}
        </form>
      <h3 class="govuk-heading-s">Email</h3>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="mailto:licensing@nature.scot">licensing@nature.scot</a></li>
      </ul>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>01463 725 364</li>
        <li>Monday to Friday, 10am to 4pm (except public holidays)</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/call-charges">Find out about call charges&nbsp;(opens in new tab)</a>
      </p>
      <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#top-of-page">
        Back to top
      </a>
    </div>
  </div>
{% endblock %}
