{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

  {% if model.qualificationHeldError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
            text: "You must select at least one qualification",
            href: "#other-date-error"
        } if model.qualificationHeldError
      ]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    What is the highest Level of Deer Stalking Certificate you hold?
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
          {{ govukRadios({
            id: "qualificationHeld",
            name: "qualificationHeld",
            errorMessage: {
              text: "You must select one qualification"
            } if model.qualificationHeldError,
            items: [
              {
                value: "dsc1",
                text: "DSC1",
                checked: model.qualificationHeld === "dsc1"
              },
              {
                value: "dsc2",
                text: "DSC2",
                checked: model.qualificationHeld === "dsc2"
              },
              {
                value: "other",
                text: "Other/Equivalent ",
                checked: model.qualificationHeld === "other"
              }
            ]
          }) }}

          {{ govukWarningText({
            text: '' +
              'If you only hold DSC1 you will be asked to provide the name ' +
              'and email address of a referee who we can contact to verify ' +
              'your application.',
            iconFallbackText: "Warning"
          }) }}

          {{ govukWarningText({
            text: '' +
              'If you wish to apply using an equivalent hunting certificate ' +
              '(must meet the same National Occupational Standards as DSC Level 1) ' +
              'insert its name and the date obtained. We may contact you to determine ' +
              'your understanding of relevant Scottish Legislation.',
            iconFallbackText: "Warning"
          }) }}

        <p class="govuk-body">
          If you do not hold a DSC Level 1 or 2 or equivalent and still want to apply then contact the NatureScot Licensing Team 
          for advice.
        </p>
          {{ govukButton({
          text: "Continue",
          classes: "naturescot-forward-button"
          }) }}
        </form>
      <h3 class="govuk-heading-s">Email</h3>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="mailto:licensing@nature.scot">licensing@nature.scot</a></li>
      </ul>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>01463 725 364</li>
        <li>Monday to Friday, 10am to 4pm (except public holidays)</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/call-charges">Find out about call charges&nbsp;(opens in new tab)</a>
      </p>
      <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#top-of-page">
        Back to top
      </a>
    </div>
  </div>
{% endblock %}
