{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}

  {% set redExperienceYearsErrors %}
    {% if model.redExperienceYearsInvalidError %}
      <p>The number of years experience you have controlling red deer must only contain numbers</p>
    {% elif model.redExperienceYearsLessThanError %}
      <p>The number of years experience you have controlling red deer must be 1 or more</p>
    {% else %}
      <p>You must enter the number of years experience you have controlling red deer</p>
    {% endif %}
  {% endset -%}

  {% set redControlNumberErrors %}
    {% if model.redControlNumberInvalidError %}
      <p>The number of red deer you have controled must only contain numbers</p>
    {% else %}
      <p>You must enter the number of red deer you have controled in the last 5 years</p>
    {% endif %}
  {% endset -%}

  {% set yesHtml %}
    <h4 class="govuk-heading-s">
      How many years experience do you have controlling red deer?
    </h4>
      {{ govukInput({
        classes: "govuk-input--width-10",
        id: "red-experience-years",
        name: "redExperienceYears",
        value: model.redExperienceYears,
        errorMessage: {
          html: redExperienceYearsErrors
        } if model.redExperienceYearsInvalidError or model.redExperienceYearsEmptyError or model.redExperienceYearsLessThanError
      }) }}

      <h4 class="govuk-heading-s">
        What is the average number of red deer you have controlled per year over the last 5 years?
      </h4>
      {{ govukInput({
        classes: "govuk-input--width-10",
        id: "red-control-number",
        name: "redControlNumber",
        value: model.redControlNumber,
        errorMessage: {
          html: redControlNumberErrors
        } if model.redControlNumberInvalidErroror or model.redControlNumberEmptyError
      }) }}

  {% endset -%}

  {% if model.experienceError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
            text: "You must select yes or no",
            href: "#red-experience-years-error"
        } if model.redSelectionError,
        {
            text: "You must enter the number of years experience you have controlling red deer",
            href: "#red-experience-years-error"
        } if model.redExperienceYearsEmptyError,
        {
            text: "You must enter the number of red deer you have controlled in the last 5 years",
            href: "#red-control-number-error"
        } if model.redControlNumberEmptyError,
        {
            text: "The number of years experience you have controlling red deer must only contain numbers",
            href: "#red-experience-years-error"
        } if model.redExperienceYearsInvalidError,
        {
            text: "The number of years experience you have controlling red deer must be 1 or more",
            href: "#red-experience-years-error"
        } if model.redExperienceYearsLessThanError,
        {
            text: "The number of red deer you control must only contain numbers",
            href: "#red-control-number-error"
        } if model.redControlNumberInvalidError
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{ govukRadios({
        id: "red",
        name: "red",
        fieldset: {
          legend: {
            text: "Do you control red deer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
          text: "You must select yes or no"
        } if model.redSelectionError,
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: yesHtml
            },
            checked: model.red === 'yes'
          },
          {
            value: "no",
            text: "No",
            checked: model.red === 'no'
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
      }) }}
    </form>
    </div>
  </div>
{% endblock %}
