{% extends "_base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Fit and Competent
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Use this service to apply for a Fit and Competent licence
      </p>
      <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#top-of-page">
        Back to top
      </a>
    </div>
  </div>

{% endblock %}
